{% extends 'core.html' %}
{% block title %}About {% endblock %}
{% block page %}About{% endblock %}
{% block contents %}
				<p>
					RNA editing refers to the process of post- or co-transcriptional modification of genetic information which is stored in DNA. 
					It is distinct from other RNA processing phenomena (such as splicing), 
					due to the size of the nucleotide sequences affected. 
					RNA editing results in small changes to the RNA, 
					often with only a single nucleotide or just a few nucleotides being edited. 
					However it is possible for a single RNA molecule to contain several sites of RNA editing. 
					RNA editing is also distinct from other types of RNA modifications (such as methylation) 
					in that it results in a change of nucleotide identity which is recognized by the cellular machinery. 
					For instance, A-to-I editing within RNA results in A-to-G discrepancies which are found between DNA templates and 
					cDNA sequences of corresponding transcribed RNA molecules. 
					This is because Inosine is recognized as Guanosine by most polymerases. 
					Different types of RNA editing have been found in virtually all organisms including viruses. 
					Recently, it has been observed that A-to-I editing is particularly abundant in the human transcriptome. 
					The advances in next-generation sequencing technologies have allowed the development of efficient high-throughput techniques
					for the identification of RNA editing. This has resulted in the rapid growth of novel data on RNA editing instances, 
					but most of the data are spread non-uniformly across supplementary material files of the original research articles.            
				</p>
               
				<p>
               DARNED has been designed as a convenient resource allowing uniform access to the growing information on RNA editing in humans. 
              	While most of the data are on A-to-I editing, a few C-to-U instances are also included in the DARNED dataset. 
              	For information on how to use DARNED, please refer to the Help section on the page.
                </p>
{% endblock %}
