{% extends 'core.html' %}
{% block title %}Cite{% endblock %}
{% block page %}Please Cite{% endblock %}
{% block contents %}
            
				<p><a href="http://www.ncbi.nlm.nih.gov/pubmed/23074185">Kiran A, O'Mahony J, Sanjeev K, Baranov PV (2013) Darned in 2013: Inclusion of model organisms and linking with Wikipedia. Nucleic Acids Res, Epub ahead of print.</a> <a href="http://nar.oxfordjournals.org/content/41/D1/D258.full-text-lowres.pdf"> PDF</a></p>
				<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
{% endblock %}			
